.projects-container {
  display: flex;
  width: 85%;
  padding: 80px 145px;
  margin-top: 2vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #000;
  flex-direction: column;
  gap: 60px;
  z-index: 0;
}
.projects-textcontainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0;
  padding-top: 10vh;
  gap: 20px;
}
.projects-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.cc-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
}
.project-main {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1vh;
  z-index: -5;
}
.project-title {
  color: white;
  z-index: -5;
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: 100%;
}
.projects-sub {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 52px;
  width: fit-content;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 100%;
}
.project-info {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 130%;
}
.project-description {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-family: "DM Sans";
  font-size: 1.2rem;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 130%;
}

.myloc {
  color: rgb(139, 139, 139);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  padding-top: 3vh;
  margin: 0;
  line-height: 100%;
}

.project-images {
  display: grid;
  width: 100%;
  margin-top: 10vh;
  gap: 0vh 1.8vw;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: max-content;
}
@media (min-width: 450px) {
  .project-images {
    display: grid;
    width: 100%;
    margin-top: 10vh;
    gap: 0vh 1.8vw;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-auto-rows: -webkit-max-content;
  }
}
@media (min-width: 1415px) {
  .project-images {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    gap: 0vh 1.8vw;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-auto-rows: -webkit-max-content;
  }
}

.project-image-img {
  transition-duration: 0.1s;
}
.pig {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .project-description {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-family: "DM Sans";
    font-size: 2rem;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 130%;
  }

  .project-info {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 100%;
  }

  .project-title {
    color: white;
    z-index: -5;
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 100%;
  }
}
