.App {
  text-align: center;
  overscroll-behavior: none;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Satoshi Variable';
  src: url('assets/Satoshi-Variable.woff2') format('woff2'),
       url('assets/Satoshi-Variable.woff') format('woff');
  font-display: swap;
  font-style: normal;
}

.Applogo {
  height: 40vmin;
  position: relative;
  pointer-events: none;

}
.App-header {
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}